.portfolio {
    align-items: center;
    padding: 10rem;

    &__heading {
        font-size: 4rem;
        color: $color-white;
        font-weight: 700;

        &::after {
            content: "";
            background-color: $color-white;
            height: .2rem;
            margin-top: 1rem;
            width: 100%;
            display: block;
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, min-content));
    margin-top: 5rem;

    &-show {
        width: 35rem;
    }

    &__img-photo {
        width: 100%;
        object-fit: cover;
        height: 40rem;

    }
}

