    .bar {
        width: 70%;

        &__fill {
            background-color: royalblue;
            height: 100%;
        }

        &-percentage {
            color: $color-grey-text;
            position: absolute;
            top: .2rem;
            right: .4rem;
        }
    }
